@charset "utf-8";

/* Common */
body {color: #444444  }
body,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,button,table{font-family:'나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;font-size:12px;-webkit-font-smoothing:antialiased}
img,fieldset,button{border:0}
em,address{font-style:normal}
a{text-decoration:none; color:#f4645f}
a:hover,a:active,a:focus{text-decoration:none; color:#e74430}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.edge{position:absolute;top:12px;right:4px;width:0;height:0;border-width:0 8px 8px;border-style:solid;border-color:transparent transparent #333}
.clear{clear:both}

/* Skip to content */
.skip{margin:0}
.skip>a{display:block;overflow:hidden;height:0;line-height:28px;text-align:center}
.skip>a:focus{height:auto}

/* layout */
header {height:100px; padding-top:29px; box-sizing: border-box}
.container{min-width:1240px;}
.wrap {width:1080px; margin:0 auto;}
.supported {width:100%; height: 80px; padding-top:28px; background:#f8f8f8; box-sizing:border-box}

/* style */
header {overflow:hidden; border-bottom: 1px solid #ddd;}
header .logo {float:left; color:#f4645f; font-size:30px; margin:0;}
header .logo small {color:#777777; font-size: 14px;}
header .btn_area { float: right;}
header .btn_area .button { display:inline-block; margin-left:10px;  height:40px; line-height:40px; padding:0 20px; border:1px solid #dedede; border-radius: 20px; color:#777777;  font-size:14px; -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out}
header .btn_area .button:first-child {margin-left: 0;}
header .btn_area .button:hover {color:#555; border-color:#aaa;}

.supported {border-bottom:1px solid #ddd;}
.supported .bnr { margin-right:42px; }
.supported .bnr img {height: 27px;}

.body .sidebar {float:left; width:230px; padding-top:61px; padding-right:30px; border-right: 1px solid #eeeeee; box-sizing:border-box;}
.body .sidebar ul {margin:0; padding:0; list-style:none;}
.body .sidebar > ul > li { margin-bottom: 40px; color:#555555; font-size: 17px;}
.body .sidebar > ul > li > ul { border-top: 1px dashed rgba(0, 0, 0, 0.1); display: block; list-style: none; margin: 10px 0 0 0; padding: 10px 0 0 0; font-size: 14px;}
.body .sidebar > ul > li > ul > li { font-size: 14px; line-height: 30px}
.body .content {float:right; width: 770px; min-height: 400px; padding: 60px 0 60px ; box-sizing: border-box}
.body .content *:first-child {margin-top:0;}

/* chak comment */
.chak-comment-wrap { margin: 35px 0 50px; }
.chak-comment-wrap.active { padding: 18px; background: rgba(248, 248, 248, 0.7); border-radius:4px;}
.chak-comment-widget { padding:18px 10px; border: 1px solid rgb(210, 210, 210); text-align:center; border-radius: 4px; cursor: pointer; font-size: 15px; color: rgb(114, 114, 114);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); line-height: 20px; }
.chak-comment-widget .xi-message {margin-right:2px; font-size:22px; vertical-align: bottom;}
.chak-comment-widget:hover,
.chak-comment-widget:focus {background: #f4645f; color:#fff; border-color: #f4645f;}
.chak-comment-widget:hover .count,
.chak-comment-widget:focus .count {background:#fff; color:#f4645f;}
.chak-comment-widget .count  { display:inline-block; width:9px; padding: 0px 6px; margin:0 2px; background-color:#f4645f; color:#fff; border-radius: 4px; font-size:12px; font-weight:bold; line-height: 20px; vertical-align: middle; margin-top: -2px;}

/* article style */

h1 { font-size: 48px; font-weight: 200; }

p {line-height: 1.5;margin: 10px 0 20px; }

.contain { max-width: 880px; margin: 0 auto; }

p code { background: #f0f2f1; color: #f4645f; padding: 1px 5px; border-radius: 3px; }

code, kbd, pre, samp { font-family: source-code-pro, monospace; font-size: 14px; }

.docs article ul { font-size: 15px; }
.docs article p { font-size: 15px; line-height: 1.8; }
.docs article h1 + ul { margin: 0; padding: 0; list-style: none; font-size: 16px; font-weight: bold; line-height: 1.5; padding-bottom: 50px; border-bottom: 1px solid #f0f2f1; }
.docs article h1 + ul li:before { content: "# "; margin-right: .25em; color: #f4645f; opacity: .3; }
.docs article h1 + ul li a {
    text-decoration: none; }
.docs article h2 {
    font-size: 30px;
    font-weight: 400;
    position: relative; }
.docs article h2 a, .docs article h2 a:hover {
    color: #525252;
    text-decoration: none; }
.docs article h2 a:before {
    content: "#";
    margin-left: -25px;
    position: absolute;
    font-size: 28px;
    top: 1px;
    color: #f4645f;
    opacity: .6; }
.docs article h3 {
    font-size: 24px;
    font-weight: 400; }
.docs article h4 {
    font-size: 16px;
    font-weight: 700; }
.docs article a {
    text-decoration: underline; }
.docs article a:hover {
    color: #f1362f; }
.docs article blockquote a:hover {
    color: #fcd8d6; }
.docs article table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px; }
.docs article table th, .docs article table td {
    border: 1px solid #dee0df;
    padding: 10px;
    text-align: left; }
.docs article table th {
    font-size: 16px; }


blockquote {
  background: #f4645f;
  color: #fff;
  border-radius: 3px;
  margin: 10px 0 20px;
  padding: 10px 15px; }
  blockquote p:last-child {
    margin: 0; }
  blockquote a {
    color: #fff; }


/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 10px 0 20px;
  overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: rgba(238, 238, 238, 0.35);
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  background: #f0f2f1;
  color: #f4645f;
  padding: 1px 5px;
  border-radius: 3px; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #999; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: #DA564A; }

.token.scope, .token.attr-name {
  color: #DA564A; }

.token.selector, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #2E7D32; }

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: #555; }

.token.atrule, .token.attr-value, .token.keyword {
  color: #07a; }

.token.function {
  color: #555; }

.token.regex, .token.important, .token.variable {
  color: #4EA1DF; }

.token.important, .token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  padding-top: 0px;
  margin-top: -1px;
  border-radius: 0;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -2px;
  padding-top: 2px;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  background: #f0f2f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }

.dark-code {
  /* Code blocks */
  /* Inline code */ }
  .dark-code code[class*="language-"], .dark-code pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .dark-code pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em; }
  .dark-code :not(pre) > code[class*="language-"], .dark-code pre[class*="language-"] {
    background: #272822; }
  .dark-code :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em; }
  .dark-code .token.comment, .dark-code .token.prolog, .dark-code .token.doctype, .dark-code .token.cdata {
    color: slategray; }
  .dark-code .token.punctuation {
    color: #f8f8f2; }
  .dark-code .namespace {
    opacity: .7; }
  .dark-code .token.property, .dark-code .token.tag, .dark-code .token.constant, .dark-code .token.symbol, .dark-code .token.deleted {
    color: #f92672; }
  .dark-code .token.boolean, .dark-code .token.number {
    color: #ae81ff; }
  .dark-code .token.selector, .dark-code .token.attr-name, .dark-code .token.string, .dark-code .token.char, .dark-code .token.builtin, .dark-code .token.inserted {
    color: #a6e22e; }
  .dark-code .token.operator, .dark-code .token.entity, .dark-code .token.url, .dark-code .language-css .token.string, .dark-code .style .token.string, .dark-code .token.variable {
    color: #f8f8f2; }
  .dark-code .token.atrule, .dark-code .token.attr-value {
    color: #e6db74; }
  .dark-code .token.keyword {
    color: #66d9ef; }
  .dark-code .token.regex, .dark-code .token.important {
    color: #fd971f; }
  .dark-code .token.important, .dark-code .token.bold {
    font-weight: bold; }
  .dark-code .token.italic {
    font-style: italic; }
  .dark-code .token.entity {
    cursor: help; }
