
        </div>
    </div>
</div>
<script>
$('p a[name]').each(function(){
  var name = $(this).attr('name');
  $(this).parent().next('h2').wrapInner('<a name=' + name + '></a>');
  $(this).parent().remove();
});
$('code[class=language-text]').each(function(){
	$(this).removeClass('language-text').addClass('language-php');
});
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-46389165-7");
pageTracker._trackPageview();
} catch(err) {}
</script>
<script type="text/javascript">
    $('.chak-comment-widget').each(function(){
        var apikey = $(this).data('apikey');
        $.ajax({
            url : "http://chak.it/index.php?act=dispCommentboxServiceCommentTotalCount&apikey=" + apikey,
            dataType : "jsonp",
            jsonp : "cb",
            success : function(data){
                $(this).find('.count').text(data.count);
            }.bind(this)
        });
    });
    $('.chak-comment-widget').click(function(){
        var apikey = $(this).data('apikey');
        var makeIframe = document.createElement("iframe");
        makeIframe.setAttribute("src", "http://chak.it/index.php?act=dispCommentboxServiceBox&apikey=" + apikey + window.location.hash);
        makeIframe.setAttribute("scrolling", "no"); makeIframe.setAttribute("data-apikey", apikey);
        makeIframe.style.border = "none"; makeIframe.style.width = "100%"; makeIframe.frameBorder = "no";
        $(this).after( makeIframe ); chakComment({}, makeIframe);

        $('.chak-comment-widget').parent().addClass('active');
        $(this).remove();
    });
</script>
<script type="text/javascript">
    (function() {
        var chak = document.createElement('script');
        chak.type = 'text/javascript'; chak.src = 'http://chak.it/static/chakComment.js'; chak.async = true;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(chak);
    })();
</script>