
        </div>
    </div>
</div>
<script>
$('p a[name]').each(function(){
  var name = $(this).attr('name');
  $(this).parent().next('h2').wrapInner('<a name=' + name + '></a>');
  $(this).parent().remove();
});
$('code[class=language-text]').each(function(){
	$(this).removeClass('language-text').addClass('language-php');
});
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-46389165-7");
pageTracker._trackPageview();
} catch(err) {}
</script>
<script type="text/javascript">
    $('.chak-comment-widget').each(function(){

        var apikey = $(this).data('chak-apikey');
        var $count = $(this).find('.count');

        $.ajax({
            url : "//chak.it/laravel/v1/" + apikey + "/articles/count",
            dataType : "jsonp",
            jsonp : "callback",
        }).done(function(data){
            $count.text(data.count);
        });

        $(this).click(function() {
            var div = document.createElement("div");
            div.setAttribute("data-chak-apikey", apikey);

            $(this).after(div);

            manuallySetChakService(div);

            $(this).parent().addClass('active');
            $(this).remove();
        });
    });
</script>
<script type="text/javascript">
    (function() {
        var chak = document.createElement('script');
        chak.type = 'text/javascript'; chak.src = '//chak.it/static/service.js'; chak.async = true;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(chak);
    })();
</script>
