<div class="container">
    <header>
        <div class="wrap">
            <h1 class="logo">Laravel korean docs <small>laravel 한글 매뉴얼</small></h1>
            <div class="btn_area">
                <a class="button" href="https://github.com/xpressengine/laravel-korean-docs/tree/kr-5.0/kr">View on Github</a>
                <a class="button" href="https://github.com/xpressengine/laravel-korean-docs/archive/kr-5.0.zip">Download.zip</a>
                <a class="button" href="https://github.com/xpressengine/laravel-korean-docs.git">Git Repository</a>
            </div>
        </div>
    </header>
    <div class="supported">
        <div class="wrap">
            <a class="bnr" href="http://www.xpressengine.com"><img src="{{ "/img/bnr1.png" | prepend: site.baseurl }}" /></a><a class="bnr" href="http://dev.naver.com/d2"><img src="{{ "/img/bnr2.png" | prepend: site.baseurl }}" /></a><a class="bnr" href="http://xpressengine.github.io/XEIcon/"><img src="{{ "/img/bnr3.png" | prepend: site.baseurl }}" /></a><a class="bnr" href="http://xpressengine.github.io/Composer-korean-docs/"><img src="{{ "/img/bnr4.png" | prepend: site.baseurl }}" /></a><a class="bnr" href="http://laravel.com/"><img src="{{ "/img/bnr5.png" | prepend: site.baseurl }}" /></a>
        </div>
    </div>
    <div class="body docs">
        <div class="wrap">
            <section class="sidebar">
            {% include sidebar.html %}
            </section>
