<ul>
    <li>Prologue
        <ul>
            <li><a href="{{ "/docs/5.0/upgrade" | prepend: site.baseurl }}">업그레이드 가이드</a></li>
            <li><a href="{{ "/docs/5.0/contributions" | prepend: site.baseurl }}">기여 가이드</a></li>
        </ul>
    </li>
    <li>Setup
        <ul>
            <li><a href="{{ "/docs/5.0/installation" | prepend: site.baseurl }}">설치하기</a></li>
            <li><a href="{{ "/docs/5.0/configuration" | prepend: site.baseurl }}">설정</a></li>
            <li><a href="{{ "/docs/5.0/homestead" | prepend: site.baseurl }}">라라벨 홈스테드</a></li>
        </ul>
    </li>
    <li>The Basics
        <ul>
            <li><a href="{{ "/docs/5.0/routing" | prepend: site.baseurl }}">HTTP 라우팅</a></li>
            <li><a href="{{ "/docs/5.0/middleware" | prepend: site.baseurl }}">HTTP 미들웨어</a></li>
            <li><a href="{{ "/docs/5.0/controllers" | prepend: site.baseurl }}">HTTP 컨트롤러</a></li>
            <li><a href="{{ "/docs/5.0/requests" | prepend: site.baseurl }}">Requests</a></li>
            <li><a href="{{ "/docs/5.0/responses" | prepend: site.baseurl }}">Responses</a></li>
            <li><a href="{{ "/docs/5.0/views" | prepend: site.baseurl }}">뷰-Views</a></li>
        </ul>
    </li>
    <li>Architecture Foundations
        <ul>
            <li><a href="{{ "/docs/5.0/providers" | prepend: site.baseurl }}">서비스 프로바이더</a></li>
            <li><a href="{{ "/docs/5.0/container" | prepend: site.baseurl }}">서비스 컨테이너</a></li>
            <li><a href="{{ "/docs/5.0/contracts" | prepend: site.baseurl }}">Contracts</a></li>
            <li><a href="{{ "/docs/5.0/facades" | prepend: site.baseurl }}">파사드</a></li>
            <li><a href="{{ "/docs/5.0/lifecycle" | prepend: site.baseurl }}">라이프사이클</a></li>
            <li><a href="{{ "/docs/5.0/structure" | prepend: site.baseurl }}">어플리케이션 구조</a></li>
        </ul>
    </li>
    <li>Services
        <ul>
            <li><a href="{{ "/docs/5.0/authentication" | prepend: site.baseurl }}">인증</a></li>
            <li><a href="{{ "/docs/5.0/billing" | prepend: site.baseurl }}">라라벨 캐셔</a></li>
            <li><a href="{{ "/docs/5.0/cache" | prepend: site.baseurl }}">캐시</a></li>
            <li><a href="{{ "/docs/5.0/collections" | prepend: site.baseurl }}">컬렉션</a></li>
            <li><a href="{{ "/docs/5.0/bus" | prepend: site.baseurl }}">커맨드 버스</a></li>
            <li><a href="{{ "/docs/5.0/extending" | prepend: site.baseurl }}">프레임워크의 확장</a></li>
            <li><a href="{{ "/docs/5.0/elixir" | prepend: site.baseurl }}">라라벨 엘릭서</a></li>
            <li><a href="{{ "/docs/5.0/encryption" | prepend: site.baseurl }}">암호화</a></li>
            <li><a href="{{ "/docs/5.0/envoy" | prepend: site.baseurl }}">Envoy</a></li>
            <li><a href="{{ "/docs/5.0/errors" | prepend: site.baseurl }}">에러와 로깅</a></li>
            <li><a href="{{ "/docs/5.0/events" | prepend: site.baseurl }}">이벤트</a></li>
            <li><a href="{{ "/docs/5.0/filesystem" | prepend: site.baseurl }}">파일시스템 / 클라우드 스토리지</a></li>
            <li><a href="{{ "/docs/5.0/hashing" | prepend: site.baseurl }}">해시</a></li>
            <li><a href="{{ "/docs/5.0/helpers" | prepend: site.baseurl }}">헬퍼 함수</a></li>
            <li><a href="{{ "/docs/5.0/localization" | prepend: site.baseurl }}">지역화-다국어</a></li>
            <li><a href="{{ "/docs/5.0/mail" | prepend: site.baseurl }}">메일</a></li>
            <li><a href="{{ "/docs/5.0/packages" | prepend: site.baseurl }}">패키지 개발</a></li>
            <li><a href="{{ "/docs/5.0/pagination" | prepend: site.baseurl }}">페이지네이션</a></li>
            <li><a href="{{ "/docs/5.0/queues" | prepend: site.baseurl }}">큐</a></li>
            <li><a href="{{ "/docs/5.0/session" | prepend: site.baseurl }}">세션</a></li>
            <li><a href="{{ "/docs/5.0/templates" | prepend: site.baseurl }}">템플릿</a></li>
            <li><a href="{{ "/docs/5.0/testing" | prepend: site.baseurl }}">테스팅</a></li>
            <li><a href="{{ "/docs/5.0/validation" | prepend: site.baseurl }}">Validation</a></li>
        </ul>
    </li>
    <li>Database
        <ul>
            <li><a href="{{ "/docs/5.0/database" | prepend: site.baseurl }}">기본적인 데이터 베이스 사용법</a></li>
            <li><a href="{{ "/docs/5.0/queries" | prepend: site.baseurl }}">쿼리 빌더</a></li>
            <li><a href="{{ "/docs/5.0/eloquent" | prepend: site.baseurl }}">Eloquent ORM</a></li>
            <li><a href="{{ "/docs/5.0/schema" | prepend: site.baseurl }}">스키마 빌더</a></li>
            <li><a href="{{ "/docs/5.0/migrations" | prepend: site.baseurl }}">마이그레이션과 시딩</a></li>
            <li><a href="{{ "/docs/5.0/redis" | prepend: site.baseurl }}">Redis</a></li>
        </ul>
    </li>
    <li>Artisan CLI
        <ul>
            <li><a href="{{ "/docs/5.0/artisan" | prepend: site.baseurl }}">아티즌 CLI</a></li>
            <li><a href="{{ "/docs/5.0/commands" | prepend: site.baseurl }}">아티즌 명령어 개발하기</a></li>
        </ul>
    </li>
</ul>